body {
   min-height: 100vh; /* will cover the 100% of viewport */

   display: block;
   position: relative;
   padding-bottom: 56px; /* height of your footer */
}
nav {
   background-color: #668f62 !important;
}

img {
   height: 300px;
   width: 50%;
}

input {
   margin-top: 20px;
}

.card-border {
   border: 1px solid #668f62;
}

.random {
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
   border: 1px solid #668f62;
}
.input-group.md-form.form-sm.form-2 button.lime-border {
   border: 1px solid #668f62;
}

.myBtn {
   background-color: #668f62 !important;
}

.pagination-btn {
   margin: 10px;
   background-color: #668f62 !important;
   color: #fff;
}

.landing-section {
   background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
      url(./assets//benjamin-combs-wuU_SSxDeS0-unsplash.jpg);
   /* background: url(./assets/abhishek-shrimali-0LTtbNP7okE-unsplash.jpg); */
   height: calc(100vh - 55px);
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.landing {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: #fff;
}

.landing-heading {
   font-size: 2em;
}

.landing-paragraph {
   font-size: 1.5em;
}

.center {
   text-align: center;
}

.right-align {
   float: right;
}

.img {
   margin: 0;
   position: relative;
   display: block;
   width: 100%;
   height: 500px;
}

footer {
   /* text-align: center;
   margin: auto; */
   background-color: #668f62;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 56px;
   color: #fff;
}

footer p {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.api-link {
   color: #fff;
   border-bottom: 1px solid #fff;
}

.api-link:hover {
   color: rgb(49, 49, 197);
   border-bottom: none;
}
